package panel

import "example.com/no-js-e2e/templrulesapp/web/components/panel"
import "example.com/no-js-e2e/templrulesapp/web/view"

templ Page(model view.RootLayoutView) {
	<main id="panel-page">
		@panel.DockSection()
	</main>
}
