package routes

import "example.com/no-js-e2e/customruntimeapp/web/components"
import "example.com/no-js-e2e/customruntimeapp/web/view"

templ Page(view runtime.RootPageView) {
	<main id="custom-runtime-page">
		@components.Shell(view.Heading)
	</main>
}
