package routes

import "example.com/no-js-e2e/customruntimeapp/web/components/shell"
import "example.com/no-js-e2e/customruntimeapp/web/view"

templ Page(model view.RootPageView) {
	<main id="custom-runtime-page">
		@shell.Shell(model.Heading)
	</main>
}
