package routes

import (
	"example.com/no-js-e2e/customruntimeapp/web/view"
	"github.com/RevoTale/no-js/framework/metagen"
)

templ RootLayout(meta metagen.Metadata, locale string, child templ.Component) {
	<html lang={ locale }>
		<head>
			<link id="site-css" rel="stylesheet" href={ runtime.StaticAssetURL("site.css") }>
			@metagen.Head(meta)
		</head>
		<body id="root-layout">
			@child
		</body>
	</html>
}
