package board

import "example.com/no-js-e2e/templrulesapp/web/components/board"
import "example.com/no-js-e2e/templrulesapp/web/view"

templ Page(model view.BoardPageView) {
	<main id="board-page">
		@board.Board(
			board.BoardHeader(model.Title),
			board.BoardBody(model.Body),
		)
	</main>
}
