package board

import "example.com/no-js-e2e/templrulesapp/web/components"
import "example.com/no-js-e2e/templrulesapp/web/view"

templ Page(model view.BoardPageView) {
	<main id="board-page">
		@components.Board(
			components.BoardHeader(model.Title),
			components.BoardBody(model.Body),
		)
	</main>
}
