package routes

import "example.com/no-js-e2e/i18nprefixalwaysapp/web/view"

templ Error(model view.RootLayoutView, path string) {
	<main
		id="error-page"
		data-locale={ model.SystemLocale }
		data-request-path={ model.SystemRequestPath }
	>
		{ model.ErrorHeading } { path }
	</main>
}
