package routes

import "example.com/no-js-e2e/notfoundmetadataapp/web/view"

templ NotFound(model view.NotFoundView, path string) {
	<main id="root-not-found" data-path={ path }>
		{ model.Heading } { path }
	</main>
}
