package filterpanel

templ FilterPanel() {
	<aside data-component="filter-panel" data-density="compact" class={ FilterPanelPanelClass }>
		<ul data-filter-cluster="primary" class={ FilterPanelClusterClass, FilterPanelExpandedClass }>
			<li data-filter-token="fast" class={ FilterPanelTokenClass, FilterPanelActiveClass }>Fast</li>
			<li data-filter-token="risk" class={ FilterPanelTokenClass, FilterPanelDangerClass }>Risk</li>
		</ul>
	</aside>
}
