package author

import (
	"example.com/no-js-e2e/docsfeatureapp/web/components/profile"
	"example.com/no-js-e2e/docsfeatureapp/web/view"
)

templ Page(model view.AuthorPageView) {
	<main id="author-page">
		<h1>{ model.Heading }</h1>
		<p id="author-description">{ model.Description }</p>
		<div id="author-shared">{ model.SharedA }|{ model.SharedB }</div>
		<div id="expensive-count">{ model.LoadCount }</div>
		<a id="switch-en" href={ model.SwitchToEnglish }>English</a>
		@profile.ProfileCard(model.Heading, model.Progress)
	</main>
}
