package hooks

import "example.com/no-js-e2e/templrulesapp/web/components/dropdown"
import "example.com/no-js-e2e/templrulesapp/web/view"

templ Page(model view.RootLayoutView) {
	<main id="hooks-page">
		@dropdown.Dropdown()
	</main>
}
