package inspector

import "example.com/no-js-e2e/templrulesapp/web/components"
import "example.com/no-js-e2e/templrulesapp/web/view"

templ Default(view runtime.RootLayoutView) {
	@components.InspectorPanel()
}
