package inspector

import "example.com/no-js-e2e/templrulesapp/web/components/progress"
import "example.com/no-js-e2e/templrulesapp/web/view"

templ Default(model view.RootLayoutView) {
	@progress.InspectorPanel()
}
